DirectoryIndex index.html index.php
Options -Indexes
RewriteEngine On
RewriteRule ^privacidade/?$ privacidade.html [L]
RewriteRule ^termos/?$ termos.html [L]
RewriteRule ^medicos/?$ medicos.html [L]
RewriteRule ^dentistas/?$ dentistas.html [L]
RewriteRule ^psicologos/?$ psicologos.html [L]
RewriteRule ^advogados/?$ advogados.html [L]
RewriteRule ^avulsos/?$ avulsos.html [L]
